<ion-content padding>
	<div class="title-container">
		<p class="brand-title">ECO</p>
		<p class="brand-subtitle">l ó g i c a</p>
		<hr color="primary" class="brand-line">
	</div>
	<form [formGroup]="formGroup" (ngSubmit)="login(email,password)" class="inputs" #formDir="ngForm" id="formDir">
		<input type="email" formControlName="email" placeholder="Correo" [(ngModel)]="email" />
		<input type="password" formControlName="password" placeholder="Contraseña" [(ngModel)]="password" />
		<div class="validation-errors">
			<ng-container *ngFor="let validation of validationMessages.email">
				<div class="error-message" *ngIf="formGroup.get('email').hasError(validation.type) && (formGroup.get('email').dirty || formGroup.get('email').touched || formDir.submitted) ">
					{{ validation.message }}
				</div>
			</ng-container>
			<ng-container *ngFor="let validation of validationMessages.password">
				<div class="error-message" *ngIf="formGroup.get('password').hasError(validation.type) && (formGroup.get('password').dirty || formGroup.get('password').touched || formDir.submitted)">
					{{ validation.message }}
				</div>
			</ng-container>
		</div>
	</form>
	<button class="button-default" type="submit" form="formDir">
		<h4 class="text-myriad hr">Iniciar sesión</h4>
	</button>


</ion-content>