page-login {
    // position: absolute;
    // width: 100%;
    // min-height: 100%;
    // .title-container{    
    //     position: relative;
    //     top: 10%;    
    //     .brand-title{
    //         font-family: TwCentMT;
    //         text-align: center;
    //         font-size: 190px;                        
    //         color: #3d3d3d;
    //         margin: 0;
    //         line-height: 130px;
    //     }
    //     .brand-subtitle{
    //         font-family: Raleway;
    //         text-align: center;
    //         font-size: 47px;
    //         margin: 0;
    //         color: #3d3d3d;
    //         padding-top: -30px;
    //     }
    //     .brand-line{
    //         width: 50%;   
    //         height: 4px; 
    //         background: color($colors, primary);
    //     }
    // }
.title-container{     
        position: relative;
        // display: inline-block;
        margin: 0 auto;
        // left: 50%;
        // transform: translate(-50%,0);           
        top: 10%;   
        .brand-title{
            font-family: TwCentMT;
            text-align: center;
            font-size: 190px;                        
            color: #3d3d3d;
            margin: 0;
            line-height: 130px;
        }
        .brand-subtitle{
            font-family: Raleway;
            text-align: center;
            font-size: 47px;
            margin: 0;
            color: #3d3d3d;
            padding-top: -30px;
        }
        .brand-line{
            width: 60%;   
            height: 4px; 
            background: color($colors, primary);
        }
    }  
    .inputs{
        position: relative;
        width: 60%;                
        margin: 100px auto 20px auto;                    
        input{
            margin: 10px auto;            
            border:none;
            border-bottom: 3px solid color($colors,primary);
            caret-color: color($colors,primary);           
            text-align: center;        
        }
        ::placeholder {
            color: color($colors,primary);
            opacity: 0.25;
            font-weight: bold;            
            text-align: center;
        }
    }
       
  
    .button-default{
        position: relative;
        display: block;
        width: 50%;
        height:40px;   
        bottom: 10px;             
        background : color($colors,primary);        
        text-align: center;        
        left: 50%;
        transform: translate(-50%, 0);
        align-items: center;
        .text-myriad{  
            position: relative;                      
            font-weight: 700;        
            font-family : Raleway;
            font-size : 18px;
            color : color($colors,secondary);               
            top: 50%;
        }
        .hr {
        display: inline-block;
        }
        .hr:after {
            content: '';
            display: block;
            border-top: 3px solid color($colors,secondary);
            margin-top: 0.1em;
        }
    }   
    .validation-errors{
        color: red;
        font-family: Raleway;
        font-size: 12px;
        text-align: center;
    }    
   
}
