page-tips {
    .top-bar{            
        display:flex;
        align-items: center;            
        background: color($colors,primary);                
        margin: 0 0 15px 0;
        width: 100%;     
        height: 40px;   
        .view-name{     
            position: relative;
            right: 5%;   
            font-family : Raleway;
            font-weight : bold;
            font-size : 18px;
            color : #FFEBAC;
            color : rgb(255, 235, 172);
            margin: 0 auto;
        }
        .back-arrow{            
            background: url('../assets/imgs/back-arrow.png');
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 5px;        
        }        
    }
    .image-background{                       
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        margin: 0 auto;
        background: color($colors,primary);            
        img{               
            width: 140px;
            height: 150px;   
            margin: 0 auto;            
        }
    }

    .imgTip{
        width: 65%;
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: solid color($colors,primary) 10px;
    }

    .title{
        color: color($colors,primary);
    }

    fa-icon{
        position: relative;
        top: 50%;
    }

}
