page-daily-form {
    .question{
        height: fit-content;
        width: 90%;
        margin: 0 auto 10px auto;
        background: color($colors,secondary);
        color: color($colors,primary);
        font-family: Raleway;
        font-weight: 700;
        font-size: 10px;
        padding: 4px; 
        text-align: right;           
    }
    .question-daily{
        height: fit-content;
        width: 90%;
        margin: 0 auto 10px auto;
        background: color($colors,primary);
        color:color($colors,secondary) ;
        font-family: Raleway;
        font-weight: 700;
        font-size: 10px;
        padding: 4px;  
        text-align: left; 
    }

    .button-default{
        position: relative;
        display: block;
        width: 50%;
        height:40px;   
        bottom: 10px;   
        top: 10px;          
        background : color($colors,primary);        
        text-align: center;        
        left: 50%;
        transform: translate(-50%, 0);
        .text-myriad{  
            position: relative;                      
            font-weight: 700;        
            font-family : Raleway;
            font-size : 18px;
            color : color($colors,secondary);               
            top: 50%;
            transform: translateY(-50%);            
        }
        .hr {
        display: inline-block;
        }
        .hr:after {
            content: '';
            display: block;
            border-top: 3px solid color($colors,secondary);
            margin-top: 0.1em;
        }
    }
}
