page-home {  
    .title-container{    
        position: relative;
        top: 10%;    
        .brand-title{
            font-family: TwCentMT;
            text-align: center;
            font-size: 190px;                        
            color: #3d3d3d;
            margin: 0;
            line-height: 130px;
        }
        .brand-subtitle{
            font-family: Raleway;
            text-align: center;
            font-size: 47px;
            margin: 0;
            color: #3d3d3d;
            padding-top: -30px;
        }
        .brand-line{
            width: 50%;   
            height: 4px; 
            background: color($colors, primary);
        }
    }
        
    .button-default{
        position: relative;        
        display: flex;
        justify-content: center;
        align-items: center;        
        width: 50%;
        height:40px;   
        bottom: 40px;             
        background : color($colors,primary);        
        text-align: center;        
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 20px;
        .text-myriad{  
            display: block;             
            position: relative;         
            font-weight: bold;        
            font-family : Raleway;
            font-size : 18px;
            color : color($colors,secondary);               
            top: 20%;                        
        }
        .hr {
        display: inline-block;
        }
        .hr:after {
            content: '';
            display: block;
            border-top: 3px solid color($colors,secondary);
            margin-top: 0.1em;
        }
    }          

    
    .buttons{
        position: relative;
        top: 30%;
        width: 100%;
    }
    
    
}
