page-achievement-detail {        
    .top-bar{            
        display:flex;
        align-items: center;            
        background: color($colors,primary);                
        margin: 0 0 15px 0;
        width: 100%;     
        height: 40px;   
        .view-name{     
            position: relative;
            right: 5%;   
            font-family : Raleway;
            font-weight : bold;
            font-size : 18px;
            color : #FFEBAC;
            color : rgb(255, 235, 172);
            margin: 0 auto;
        }
        .back-arrow{            
            background: url('../assets/imgs/back-arrow.png');
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 5px;        
        }        
    }
    .image-background{                       
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        margin: 0 auto;
        background: color($colors,primary);            
        img{               
            width: 140px;
            height: 150px;   
            margin: 0 auto;            
        }
    }
    .achievement-title{
        color: color($colors,primary);
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    
    .progress{
        position: absolute;
        width: 50%;
        height: 30px;        
        left: 50%;
        transform: translate(-50%, 0);
        // margin: 0 auto;
        background: color($colors,secondary);        
        .progress-bar{
            position: relative;            
            width: 0;
            height: 30px;
            background: color($colors,primary);                                       
        }
        .text{   
            position: absolute;
            top: 20%;
            left: 5%;
            font-family: Raleway;
            font-weight: bold;
            font-size: 14px;      
            color: color($colors,secondary);
            z-index: 1;
        }  
        .progress-bar::after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 99%;
            border-width: 30px 0 0 30px;
            border-color: color($colors,primary);
            border-style:solid;
            border-top-color:transparent;
            border-bottom-color:transparent;
            border-right-color:transparent;
        }
    }
    
    .button-default{
        position: absolute;
        display: block;
        width: 40%;
        height:40px;   
        margin-top: 40px;           
        background : color($colors,primary);        
        text-align: center;        
        left: 50%;
        transform: translate(-50%, 0);
        
        .text-myriad{  
            position: relative;                      
            font-weight: bold;        
            font-family : Raleway;
            font-size : 18px;
            color : color($colors,secondary);               
            transform: translateY(-50%);            
        }
        .hr {
        display: inline-block;
        }
        .hr:after {
            content: '';
            display: block;
            border-top: 3px solid color($colors,secondary);
            margin-top: 0.1em;
        }
    }          
    .navigation{
        position: absolute;
        width: 50%;
        height: 40px;
        display: table;
        table-layout: fixed;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);        
        .previous-achievement{
            display: table-cell;
            width: 25%;
            height: 25%;
            background: color($colors,primary);
            img{
                width: 100%;
            }
        }
        .actual-achievement{
            display: table-cell;
            width: 25%;
            height: 25%;
            background: color($colors,secondary);
            img{
                width: 100%;
            }
        }
        .next-achievement{
            display: table-cell;
            width: 25%;
            height: 25%;
            background: color($colors,primary);
            img{
                width: 100%;
            }
        }
    }
    .hide {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }
}
